<h1 class="my-team">НАД ПРОЭКТОМ РАБОТАЛИ:</h1>
<ul class="contacts" id="cntcts">
    <li class="contacts__item">
        <div class="contacts__card">
            <img src="https://wdho.ru/plugins/imageviewer/site/direct.php?s=ilYB&/Aleksandr.jpg" alt="Alexandr"
                class="contacts__card__image" />
            <div class="card__content">
                <h2 class="card__name">Alexandr</h2>
                <p class="card__description">
                    Team Lead
                </p>
            </div>
        </div>
    </li>
    <li class="contacts__item">
        <div class="contacts__card">
            <img src="	https://wdho.ru/plugins/imageviewer/site/direct.php?s=my7F&/Katya.jpg" alt="Katya"
                class="contacts__card__image" />
            <div class="card__content">
                <h2 class="card__name">Katerina</h2>
                <p class="card__description">
                    Scrum Master
                </p>
            </div>
        </div>
    </li>
    <li class="contacts__item">
        <div class="contacts__card">
            <img src="https://wdho.ru/plugins/imageviewer/site/direct.php?s=my7E&/Igor.jpg" alt="Igor"
                class="contacts__card__image" />
            <div class="card__content">
                <h2 class="card__name">Igor</h2>
                <p class="card__description">
                    Developer
                </p>
            </div>
        </div>
    </li>
    <li class="contacts__item">
        <div class="contacts__card">
            <img src="https://wdho.ru/plugins/imageviewer/site/direct.php?s=ilYA&/Roman.jpg" alt="Roman"
                class="contacts__card__image" />
            <div class="card__content">
                <h2 class="card__name">Roman</h2>
                <p class="card__description">
                    Developer
                </p>
            </div>
        </div>
    </li>
    <li class="contacts__item">
        <div class="contacts__card">
            <img src="https://wdho.ru/plugins/imageviewer/site/direct.php?s=my7G&/Ruslan.jpg" alt="Ruslan"
                class="contacts__card__image" />
            <div class="card__content">
                <h2 class="card__name">Ruslan</h2>
                <p class="card__description">
                    Developer
                </p>
            </div>
        </div>
    </li>
    <li class="contacts__item">
        <div class="contacts__card">
            <img src="https://lh3.googleusercontent.com/proxy/JD13vIANL7XDSC2fTQFWD2pkqtCBEAtQyXFZFSyIu6OMghbRInQXx2sKFDCWt8lfvsj-YzFz-ml6HwCYiGb1N3Ym0PMmZYZA_iXLWrWxraAp6ifRE8nkLssNn_q5DSPjB7ZOQI61obJqL5q1"
                width="100px" height="auto" alt="Yaroslav" class="contacts__card__image" />
            <div class="card__content">
                <h2 class="card__name">Yaroslav</h2>
                <p class="card__description">
                    Developer
                </p>
            </div>
        </div>
    </li>
</ul>
<div class="teacher">
    <h2 class="h2__teacher">Our best teacher:<br> <span class="teacher__name">Andrey Volosovich</span></h2>
    <div class="contacts__item">
        <img src="https://lh3.googleusercontent.com/proxy/JD13vIANL7XDSC2fTQFWD2pkqtCBEAtQyXFZFSyIu6OMghbRInQXx2sKFDCWt8lfvsj-YzFz-ml6HwCYiGb1N3Ym0PMmZYZA_iXLWrWxraAp6ifRE8nkLssNn_q5DSPjB7ZOQI61obJqL5q1"
            width="274px" height="398px" alt="Andrey_Volosovich">
    </div>
</div>