<ul class="contacts" id="cntcts">
    {{!-- {{#each this}} --}}
    <li class="contacts__item">
        <div class="contacts__card">
            <img src="./images/team/1.png" width="100px" height="auto" alt="Alexandr" class="contacts__card__image" />
            <div class="card__content">
                <h2 class="card__name">Alexandr</h2>
                <p class="card__profession">
                </p>
                <p class="card__description">
                    Team Lead
                </p>
            </div>
            <button class="card__button button">
                Details
            </button>
        </div>
    </li>
    <li class="contacts__item">
        <div class="card">
            <img src="./images/team/2.png" width="100px" height="auto" alt="Katya" class="contacts__card__image" />
            <div class="card__content">
                <h2 class="card__name">Katya</h2>
                <p class="card__profession">
                </p>
                <p class="card__description">
                    Scrum Master
                </p>
            </div>
            <button class="card__button button">
                Details
            </button>
        </div>
    </li>
    <li class="contacts__item">
        <div class="card">
            <img src="./images/team/3.png" width="100px" height="auto" alt="Roman" class="contacts__card__image" />
            <div class="card__content">
                <h2 class="card__name">Roman</h2>
                <p class="card__profession">
                </p>
                <p class="card__description">
                    Web Developer
                </p>
            </div>
            <button class="card__button button">
                Details
            </button>
        </div>
    </li>
    <li class="contacts__item">
        <div class="card">
            <img src="./images/team/4.png" width="100px" height="auto" alt="Ihor" class="contacts__card__image" />
            <div class="card__content">
                <h2 class="card__name">Ihor</h2>
                <p class="card__profession">
                </p>
                <p class="card__description">
                    Web Developer
                </p>
            </div>
            <button class="card__button button">
                Details
            </button>
        </div>
    </li>
    <li class="contacts__item">
        <div class="card">
            <img src="./images/team/5.png" width="100px" height="auto" alt="Yaroslav" class="contacts__card__image" />
            <div class="card__content">
                <h2 class="card__name">Yaroslav</h2>
                <p class="card__profession">
                </p>
                <p class="card__description">
                    Web Developer
                </p>
            </div>
            <button class="card__button button">
                Details
            </button>
        </div>
    </li>
    <li class="contacts__item">
        <div class="card">
            <img src="./images/team/6.png" width="100px" height="auto" alt="Ruslan" class="contacts__card__image" />
            <div class="card__content">
                <h2 class="card__name">Ruslan</h2>
                <p class="card__profession">
                </p>
                <p class="card__description">
                    Web Developer
                </p>
            </div>
            <button class="card__button button">
                Details
            </button>
        </div>
    </li>
    {{!-- {{/each}} --}}
</ul>