{{!-- {{#each this}} --}}
<li class="library__item">
  <a href="#" class="library__link">
    <img src="../images/main/Greyhound.png" alt="">
  </a>
  <a href="#" >
    <h3 class="title">GREYHOUND<span>Drama, Action | 2020</span></h3>
  </a>
</li>
<li class="library__item">
  <a href="#" class="library__link">
    <img src="../images/main/Monster_hunter.png" alt="">
  </a>
  <a href="#" >
    <h3 class="title">MONSTER HUNTER <span>Drama, Action | 2020</span></h3>
  </a>
</li>
<li class="library__item">
  <a href="#" class="library__link">
    <img src="../images/main/Once_upon_a_time....png" alt="">
  </a>
  <a href="#" >
    <h3 class="title">ONCE UPON A TIME... IN HOLLYWOOD <span>Drama, Comedy | 2019</span></h3>
  </a>
</li>
<li class="library__item">
  <a href="#" class="library__link">
    <img src="../images/main/Little_women.png" alt="">
  </a>
  <a href="#" >
    <h3 class="title">LITTLE WOMEN<span>Drama | 2019</span></h3>
  </a>
</li>
<li class="library__item">
  <a href="#" class="library__link">
    <img src="../images/main/Aquarela.png" alt="">
  </a>
  <a href="#" >
    <h3 class="title">AQUARELA<span>Documentary, Drama, Other | 2019</span></h3>
  </a>
</li>
<li class="library__item">
  <a href="#" class="library__link">
    <img src="../images/main/David_Crosby.png" alt="">
  </a>
  <a href="#" >
    <h3 class="title">DAVID CROSBY: REMEMBER MY NAME<span>Documentary, Drama, Other | 2019</span></h3>
  </a>
</li>
<li class="library__item">
  <a href="#" class="library__link">
    <img src="../images/main/Moon.png" alt="">
  </a>
  <a href="#" >
    <h3 class="title">MOON<span>Sci-Fi, Action, Thriller | 2010</span></h3>
  </a>
</li>
<li class="library__item">
  <a href="#" class="library__link">
    <img src="../images/main/A_fistful_of_lead.png" alt="">
  </a>
  <a href="#" >
    <h3 class="title">A FISTFUL OF LEAD<span>Western | 2019</span></h3>
  </a>
</li>
<li class="library__item">
  <a href="#" class="library__link">
    <img src="../images/main/Bad_Boys.png" alt="">
  </a>
  <a href="#" >
    <h3 class="title">BAD BOYS FOR LIFE<span>Action, Comedy | 2020</span></h3>
  </a>
</li>
{{!-- {{/each }} --}}