.my-team{
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  color: $highlighter;
  text-align: center;
}
.contacts {
  // height: 350px;
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  // margin-bottom: 1400px;
  list-style-type: none;

  .contacts__item {
    // background-color: #f7f7f7;
    
    width: 274px;
    // height: 398px;
    text-align: center;
    margin-bottom: 40px;

    &:hover{
      transform: scale(1.1);
      transition: all 300ms linear;
    }
  }
}

.contacts__card {
  margin-bottom: 20px;

  .contacts__card__image {
    width: 274px;
    height: 398px;
    margin-bottom: 10px;
  }
}

.card__content {
  text-align: center;

  .card__name {
    font-size: 20px;
    margin-bottom: 2px;
    color: $highlighter;
  }

  .card__description {
    font-size: 14px;
  }
}

.contacts__card__btn:hover {
  background-color: rgb(255, 107, 8);
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 0 0 5px rgb(43, 44, 85);
  font-size: 13px;
  padding: 2px 3px;
}

.teacher{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  width: 274px;
  height: auto;
}

.h2__teacher{
  font-size: 30px;
  color: rgb(53, 206, 22);
}
.teacher__name{
  font-size: 24px;
  color: $highlighter;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    // margin-bottom: 350px;
  }
}