.details {
  font-family: "Roboto Medium";
  width: 280px;
  margin: auto;
  margin-bottom: 80px;

  &__img {
    display: block;
    width: 280px;
    background-color: black;
    margin: auto;

    &-container {
      width: 280px;
      height: 402px;
      overflow: hidden;
      border-radius: 4px;
    }
  }

  &__titile {
    text-transform: uppercase;
    margin: 35px 0 12px;
    font-size: 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: $main-txt;
    font-weight: 600;
    font-size: 20px;
  }

  &__item {
    display: flex;
    font-size: 12px;
    line-height: 1.3;
  }

  &__name {
    min-width: 120px;
    color: $categories-text;
    font-size: 12px;
  }

  &__data {
    font-size: 12px;
    color: $main-txt;
    font-weight: 600;

    &--upper {
      text-transform: uppercase;
    }
  }

  &__about {
    margin: 0;
    padding-top: 15px;
    font-family: "Roboto Bold";
    font-size: 11px;
    text-transform: uppercase;
  }

  &__scores {
    display: flex;
  }

  &__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $votes-bg;
    width: 35px;
    height: 16px;
    border-radius: 4px;
    margin-left: 6px;

    &:first-child {
      margin-left: 0;
    }

    &--orange {
      background-color: $highlighter;
      color: white;
      margin-right: 6px;
    }

    &--solidus {
      color: $categories-text;
    }
  }

  &__text {
    margin: 0;
    margin-top: 16px;
    font-family: "Roboto Regular";
    font-size: 11px;
    line-height: 1.8;
  }

  &__box {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
  }

  &__btn {
    all: unset;
    width: 118px;
    height: 42px;
    background-color: white;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
  
    &:hover {
      background-color: $highlighter;
      border: 1px solid $highlighter;
      color: $btn-txt-hover;
    }

    &--in-the-list {
      background-color: #f1c76b;
      color: black;
      border: 1px solid $highlighter;
    }
  }
}

@media screen and (min-width: 768px) {
  .details {
    margin-bottom: 80px;
    display: flex;
    width: 620px;

    &__img {
      width: 296px;

      &-container {
        margin-right: 30px;
        width: 296px;
        height: 420px;
      }
    }

    &__information {
      width: 295px;
    }

    &__titile {
      margin: 4px 0 22px;
      font-size: 30px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .details {
    width: 876px;

    &__img {
      width: 422px;

      &-container {
        width: 422px;
        height: 520px;
      }
    }

    &__information {
      width: 423px;
    }

    &__box {
      justify-content: start;
    }

    &__btn:first-child {
      margin-right: 15px;
    }
  }
}
