// .footer {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.footer__container {
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  height: 100px;
}

.footer__text {
  display: block;
  text-align: center;
  align-items: center;
  font-weight: 400;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Roboto Regular';
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 16px;
  letter-spacing: 0, 03;
  padding-left: 5px;
  padding-right: 5px;

  span {
    display: block;
  }

  svg {
    width: 16px;
    height: 16px;
    padding-top: 5px;
  }
}

.copyright {
  fill: #656565;
}
.footer__heart {
  fill: #ff6b08;
}
.footer__heart:hover {
  fill: #ff0000;
}

.footer__link {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer__container {
    height: 77px;
  }

  .footer__text {
    font-size: 16px;
    line-height: 19px;
    span {
      display: inline-block;
    }
  }
}
