/* =========== Warning Info js-is-hidden ================== */

.header__warning {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header__warning-paragraph {
  display: none;
}

.js-is-hidden {
  display: block;
  margin: 0;
  font-family: 'Roboto Regular';
  font-size: 14px;
  color: $highlighter;
}

// ============================================

@media (min-width: 320px) {
  #header {
    width: 100%;
    height: 230px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .home {
    background-image: linear-gradient($overlay, $overlay),
      url(./images/header_home_mobile.jpg);
  }
  .header-wrapper {
    max-width: 90%;
    margin: 0 auto;
    padding: 46px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    display: flex;
    align-items: center;
  }

  .header__logo-name {
    display: none;
  }

  .header__logo-icon {
    background-image: url(./images/icons-header/film.png);
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }

  .header__nav {
    display: flex;
  }

  .header__list {
    width: 146px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .header__item {
    height: 12px;
  }

  .header__link {
    text-decoration: none;
    color: $header-txt;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Roboto Medium';
  }

  .header__link--hover:after {
    content: '';
    display: none;
    margin-top: 2px;
    height: 3px;
    background-color: $highlighter;
  }

  .header__item:hover a:after {
    display: block;
  }
}

@media (min-width: 769px) {
  .home {
    background-image: linear-gradient($overlay, $overlay),
      url(./images/header_home_tablet.jpg);
  }

  .header__logo-name {
    display: block;
    margin: 0;
    font-size: 30px;
    font-family: 'Roboto Medium';
    color: $header-txt;
  }
}

@media (min-width: 1201px) {
  .home {
    background-image: linear-gradient($overlay, $overlay),
      url(./images/header_home_desktop.jpg);
  }
}
