@media (min-width: 100px) {
  .section__form {
    margin-bottom: 20px;
  }

  .header {
    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 276px;
      height: 26px;
      margin-right: auto;
      margin-left: auto;
      border-bottom: 1px inset $header-txt;
    }
    &__form-input {
      width: 320px;
      font-family: 'Roboto Regular';
      font-size: 14px;
      background-color: transparent;
      color: $header-txt;
      border: none;
      outline: none;
    }
    &__btn-search {
      background-image: url(./images/icons-header/search.png);
      background-color: transparent;
      border-style: none;
      width: 20px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  input::placeholder {
    color: $header-txt;
  }
}

@media (min-width: 768px) {
  .header__form {
    width: 340px;
  }
}
