/* =========== Warning Info js-header-is-hidden ================== */

.header {
  &__warning {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  &__warning-paragraph {
    display: none;
  }
}
// ========================
.js-header-is-hidden {
  display: block;
  margin: 0;
  font-family: 'Roboto Regular';
  font-size: 14px;
  color: $highlighter;
}
// ============================================

// @media (min-width: 100px) {
#header {
  width: 100%;
  height: 230px;
  // position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home {
  background-image: linear-gradient($overlay, $overlay),
    url(./images/header_home_mobile.jpg);
}
.header-wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 46px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;

  &:hover {
    transform: scale(1.05);
    transition: all 200ms linear;
  }
}
.header__logo-name {
  display: none;
}
// }

.header__logo-icon {
  background-image: url(./images/icons-header/film.png);
  width: 24px;
  height: 24px;
  // margin-right: 12px;
}

.header {
  &__nav {
    display: flex;
    height: 20px;
  }

  &__list {
    width: 146px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__item:hover {
    // height: 12px;
    transform: scale(1.1);
    transition: all 200ms linear;

    &:hover a:after {
      display: block;
    }
  }

  &__link {
    text-decoration: none;
    color: $header-txt;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Roboto Medium';
    transition: 0.5ms linear;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }

    &--hover:after {
      content: '';
      display: none;
      margin-top: 2px;
      height: 3px;
      background-color: $highlighter;
    }
  }
}

// =================================================
.header-mylibrary {
  display: none;
  // display: flex;
  justify-content: center;

  &__btn {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    height: 44px;
    width: 130px;
    border-radius: 6px;
    border: 1px solid white;
    opacity: 0.9;
    cursor: pointer;

    &:hover {
      background-color: #ff6b01;
      border: none;
      transition: all 300ms linear;
      opacity: 1;
      transform: scale(1.04);
    }
  }
}
.header__btn-watched {
  margin-right: 20px;
}
// ======================
.js-header-watched-is-hidden {
  display: flex;
}

// =================================================
@media (min-width: 768px) {
  .home {
    background-image: linear-gradient($overlay, $overlay),
      url(./images/header_home_tablet.jpg);
  }

  .header__logo-icon {
    margin-right: 12px;
  }

  .header__logo-name {
    display: block;
    margin: 0;
    font-size: 30px;
    font-family: 'Roboto Medium';
    color: $header-txt;
    opacity: 0.9;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: 1201px) {
  .home {
    background-image: linear-gradient($overlay, $overlay),
      url(./images/header_home_desktop.jpg);
  }

  .header__logo-name {
    animation: logo-appear 1500ms linear 200ms;
  }

  @keyframes logo-appear {
    0% {
      transform: scale(0.5);
      opacity: 0;
      color: lightslategray;
    }
    50% {
      transform: scale(0.8);
      opacity: 1;
      color: grey;
    }
    100% {
      transform: scale(1);
      color: white;
    }
  }
}
